<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>engineSize</th>
      <th>fuelType</th>
      <th>mileage</th>
      <th>model</th>
      <th>mpg</th>
      <th>price</th>
      <th>tax</th>
      <th>transmission</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2.0</td>
      <td>Petrol</td>
      <td>24089</td>
      <td>GT86</td>
      <td>36.2</td>
      <td>16000</td>
      <td>265</td>
      <td>Manual</td>
      <td>2016</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>Petrol</td>
      <td>18615</td>
      <td>GT86</td>
      <td>36.2</td>
      <td>15995</td>
      <td>145</td>
      <td>Manual</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2.0</td>
      <td>Petrol</td>
      <td>27469</td>
      <td>GT86</td>
      <td>36.2</td>
      <td>13998</td>
      <td>265</td>
      <td>Manual</td>
      <td>2015</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2.0</td>
      <td>Petrol</td>
      <td>14736</td>
      <td>GT86</td>
      <td>36.2</td>
      <td>18998</td>
      <td>150</td>
      <td>Manual</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2.0</td>
      <td>Petrol</td>
      <td>36284</td>
      <td>GT86</td>
      <td>36.2</td>
      <td>17498</td>
      <td>145</td>
      <td>Manual</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2.0</td>
      <td>Petrol</td>
      <td>26919</td>
      <td>GT86</td>
      <td>36.2</td>
      <td>15998</td>
      <td>260</td>
      <td>Manual</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2.0</td>
      <td>Petrol</td>
      <td>10456</td>
      <td>GT86</td>
      <td>36.2</td>
      <td>18522</td>
      <td>145</td>
      <td>Manual</td>
      <td>2017</td>
    </tr>
  </tbody>
</table>