{#{% extends 'layout.html' %}#}
{##}
{#{% block content %}#}
{#    <div class="container">#}
{#        <form method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <input type="text" name="filepath">#}
{#            <input type="text" name="pnumber">#}
{#            <input type="file" name="filename">#}
{#            <input type="submit" value="submit">#}
{#        </form>#}
{##}
{#    </div>#}
{#{% endblock %}#}
{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDFS1 Upload A File </h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>File Path to Be Stored in:</label>
                        <input type="text" class="form-control" placeholder="syntax: /test1/" name="filepath"/>
                    </div>

                    <div class="form-group">
                        <label>Partition Number:</label>
                        <input type="text" class="form-control" placeholder="syntax: 5" name="pnumber"/>
                    </div>
                    <div class="form-group">
                        <label>Choose Your CSV File:</label>
                        <input type="file" name="filename">
                    </div>

                    <button type="submit" class="btn btn-primary">submit</button>
                    <a href="/edfs1" class="btn btn-primary" role="button">cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



{% block js %}
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script>
        $(function () {
            $('#dt').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                language: "zh-CN",
                autoclose: true
            });

        })
    </script>
{% endblock %}
