{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDFS1 Remove A File </h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Please Input the Path of the CSV File to Be Removed:</label>
                        <input type="text" class="form-control"
                               placeholder="syntax: /test1/xxx.csv" name="title"/>
                    </div>
                    <button type="submit" class="btn btn-primary">submit</button>
                    <a href="/edfs1" class="btn btn-primary" role="button">cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}