{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/edfs2/ls-request">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                ls Request
            </a>
            <a class="btn btn-success" href="/edfs2/mkdir">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Make Directory
            </a>
            <a class="btn btn-success" href="/edfs2/upload">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                Upload a File
            </a>
            <a class="btn btn-success" href="/edfs2/remove">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                Remove a File
            </a>
        </div>
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/edfs2/">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                Cat a File
            </a>
            <a class="btn btn-success" href="/edfs2/part-request">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                Get Partition Locations
            </a>
            <a class="btn btn-success" href="/edfs2/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Read Partition of a File
            </a>
        </div>

    <div>
</div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                File Paths
            </div>

            <!-- Table -->
            <table class="table table-bordered">
{#                <thead>#}
{#                <tr>#}
{#                    <th>FilePaths</th>#}
{#                    <th>名称</th>#}
{#                    <th>操作</th>#}
{#                </tr>#}
{#                </thead>#}
                <tbody>
                {% for obj in queryset %}
                    <tr>
{#                        <th>{{ obj.id }}</th>#}
                        <td>{{ obj}}</td>
{#                        <td>#}
{#                            <a class="btn btn-primary btn-xs" href="/depart/{{ obj.id }}/edit/">编辑</a>#}
{#                            <a class="btn btn-danger btn-xs" href="/depart/delete/?nid={{ obj.id }}">删除</a>#}
{#                        </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>go to</label>
                        <input type="text" class="form-control" placeholder="diretory path" name="title"/>
                    </div>

                    <button type="submit" class="btn btn-primary">show</button>
            </form>
        </div>
    </div>

{% endblock %}
