{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="bs-example" data-example-id="simple-jumbotron">
            <div class="jumbotron">
                <h1>Welcome to EDFS !</h1>
                <p>We are team 94: Junhui Yang, Yucheng Yang, Carra Hamner.</p>
                <p>We build 2 EDFS based on Firebase in 2 different Ways.</p>

                <p>
                    <a class="btn btn-warning" href="/edfs1" role="button">EDFS1</a>

                    <a class="btn btn-warning" href="/edfs2" role="button">EDFS2</a>
                </p>
            </div>
        </div>
    </div>



{% endblock %}
