{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDFS2</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        {#        <div class="navbar-header">#}
        {#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
        {#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
        {#            </button>#}
        {#            <a class="navbar-brand" href="/edfs1/">EDFS system 1</a>#}
        {#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
        {#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
        {#            </button>#}
        {#            <a class="navbar-brand" href="/edfs2/">EDFS system 2</a>#}
        {#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
        {#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
        {#            </button>#}
        {#            <a class="navbar-brand" href="analytics.html">analytics</a>#}
        {#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
        {#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
        {#            </button>#}
        {#            <a class="navbar-brand" href="report.html">final report</a>#}
        {#        </div>#}
        {#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
        {#            <ul class="nav navbar-nav navbar-right">#}
        {#                <li class="dropdown">#}
        {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
        {#                       aria-expanded="false">Team 94<span class="caret"></span></a>#}
        {#                    <ul class="dropdown-menu">#}
        {#                        <li><a href="#">profiles</a></li>#}
        {#                        <li><a href="#">video</a></li>#}
        {#                    </ul>#}
        {#                </li>#}
        {#                <li role="presentation" class="dropdown">#}
        {#        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">#}
        {#          Dropdown <span class="caret"></span>#}
        {#        </a>#}
        {#        <ul class="dropdown-menu">#}
        {#          <li><a href="#">Action</a></li>#}
        {#          <li><a href="#">Another action</a></li>#}
        {#          <li><a href="#">Something else here</a></li>#}
        {#          <li role="separator" class="divider"></li>#}
        {#          <li><a href="#">Separated link</a></li>#}
        {#        </ul>#}
        {#      </li>#}
        {#            </ul>#}
        {#        </div>#}
        <div class="bs-example" data-example-id="nav-pills-with-dropdown" style="margin-top: 4px">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/edfs1">EDFS1</a></li>
                <li role="presentation"><a href="/edfs2">EDFS2</a></li>
                <li role="presentation"><a href="analytics.html">analytics</a></li>
                <li role="presentation"><a href="report.html">report</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Team 94 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Junhui Yang</a></li>
                        <li><a href="#">Yucheng Yang</a></li>
                        <li><a href="#">Carra Hamner</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">VIDEO</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>
