{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Please input search conditions: </h3>
            </div>

            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>File1 and Its Path:</label>
                        <input type="text" class="form-control" placeholder="syntax: /test1/audi.csv" name="filepath1"/>
                    </div>
                    <div class="form-group">
                        <label>File2 and Its Path:</label>
                        <input type="text" class="form-control" placeholder="syntax: /test2/ford.csv" name="filepath2"/>
                    </div>
                    <div class="form-group">
                        <label>Price Higher Than:</label>
                        <input type="text" class="form-control" placeholder="syntax: 22000" name="price"/>
                    </div>
                    <div class="form-group">
                        <label>Transmission: </label>
                        <select class="selectpicker"  name="trans">
                            <option value="Automatic">Auto</option>
                            <option value="Semi-Auto">Semi-Auto</option>
                            <option value="Manual">Manual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Which EDFS: </label>
                        <select class="selectpicker"  name="edfs">
                            <option value="1">EDFS1</option>
                            <option value="2">EDFS2</option>
                        </select>
                    </div>


                    <button type="submit" class="btn btn-primary">submit</button>
                    <a href="/edfs2" class="btn btn-primary" role="button">cancel</a>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
